* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(158, 103, 0);
    color: rgb(255, 228, 178);
    font-family: sans-serif;
    text-align: center;
}
h1 {
    text-transform: uppercase;
}
p {
    padding: 30px;
}
/* sezione login */
.login-section .input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.login-section .input #email {
    border: none;
    height: 25px;
    padding: 0 5px;
    outline: none;
    border-radius: 3px;
    margin: 0 10px;
}
.login-section .input #domain {
    border: none;
    outline: none;
    height: 25px;
}
.login-section .btns button,
.game button {
    padding: 8px 13px;
    border: none;
    background: rgb(104, 50, 0);
    cursor: pointer;
    color: white;
    border-radius: 6px;
}
.login-section .output-login {
    margin: 30px;
}

/* sezione gioco */
.game .dadi {
    display: flex;
    justify-content: space-evenly;
}
.game .dado {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 20px;
}
.dado .faccia {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dado .faccia .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faccia .dot {
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    opacity: 0;
}
.faccia .dot.sei {
    opacity: 0;
}